# DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [4]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}
df = pd.DataFrame(data_1)
df

  state  year  pop
0    VA  2012  5.0
1    VA  2013  5.1
2    VA  2014  5.2
3    MD  2014  4.0
4    MD  2015  4.1

In [7]:
df_2 = pd.DataFrame(data_1, columns=['year', 'state', 'pop'])
df_2

   year state  pop
0  2012    VA  5.0
1  2013    VA  5.1
2  2014    VA  5.2
3  2014    MD  4.0
4  2015    MD  4.1

In [16]:
df_3 = pd.DataFrame(data_1, columns=['year', 'state', 'pop', 'unempl'])
df_3

   year state  pop unempl
0  2012    VA  5.0    NaN
1  2013    VA  5.1    NaN
2  2014    VA  5.2    NaN
3  2014    MD  4.0    NaN
4  2015    MD  4.1    NaN

In [23]:
df_3['unempl']=[1.5, 1.6, 3, 3.4, 6]
df_3

   year state  pop  unempl
0  2012    VA  5.0     1.5
1  2013    VA  5.1     1.6
2  2014    VA  5.2     3.0
3  2014    MD  4.0     3.4
4  2015    MD  4.1     6.0

In [24]:
df=df_3.set_index('year')
df

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4
2015    MD  4.1     6.0

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [27]:
df['state']

year
2012    VA
2013    VA
2014    VA
2014    MD
2015    MD
Name: state, dtype: object

In [28]:
# Pass a list of column names
df[['state','pop']]

     state  pop
year
2012    VA  5.0
2013    VA  5.1
2014    VA  5.2
2014    MD  4.0
2015    MD  4.1

In [29]:
# SQL Syntax (NOT RECOMMENDED!)
df.state

year
2012    VA
2013    VA
2014    VA
2014    MD
2015    MD
Name: state, dtype: object

DataFrame Columns are just Series

In [30]:
type(df['state'])

pandas.core.series.Series

**Creating a new column:**

In [31]:
df['new'] = df['pop'] * df['unempl']/100

In [32]:
df

     state  pop  unempl     new
year
2012    VA  5.0     1.5  0.0750
2013    VA  5.1     1.6  0.0816
2014    VA  5.2     3.0  0.1560
2014    MD  4.0     3.4  0.1360
2015    MD  4.1     6.0  0.2460

** Removing Columns**

In [33]:
df.drop('new',axis=1)

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4
2015    MD  4.1     6.0

In [34]:
# Not inplace unless specified!
df

     state  pop  unempl     new
year
2012    VA  5.0     1.5  0.0750
2013    VA  5.1     1.6  0.0816
2014    VA  5.2     3.0  0.1560
2014    MD  4.0     3.4  0.1360
2015    MD  4.1     6.0  0.2460

In [35]:
df.drop('new',axis=1,inplace=True)

In [36]:
df

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4
2015    MD  4.1     6.0

Can also drop rows this way:

In [38]:
df.drop(2015,axis=0)

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4

** Selecting Rows**

In [40]:
df.loc[2013]

state      VA
pop       5.1
unempl    1.6
Name: 2013, dtype: object

Or select based off of position instead of label

In [41]:
df.iloc[2]

state      VA
pop       5.2
unempl    3.0
Name: 2014, dtype: object

** Selecting subset of rows and columns **

In [42]:
df.loc[2013,'state']

'VA'

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [43]:
df

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4
2015    MD  4.1     6.0

In [45]:
df[['pop', 'unempl']]>0

       pop  unempl
year
2012  True    True
2013  True    True
2014  True    True
2014  True    True
2015  True    True

In [47]:
df[df['pop']>4.1]

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0

In [48]:
df[df['pop']>4.1]['unempl']

year
2012    1.5
2013    1.6
2014    3.0
Name: unempl, dtype: float64

In [49]:
df[df['pop']>4.1][['pop','unempl']]

      pop  unempl
year
2012  5.0     1.5
2013  5.1     1.6
2014  5.2     3.0

For two conditions you can use | and & with parenthesis:

In [50]:
df[(df['pop']>4.1) & (df['unempl'] < 3)]

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [51]:
df

     state  pop  unempl
year
2012    VA  5.0     1.5
2013    VA  5.1     1.6
2014    VA  5.2     3.0
2014    MD  4.0     3.4
2015    MD  4.1     6.0

In [52]:
# Reset to default 0,1...n index
df.reset_index()

   year state  pop  unempl
0  2012    VA  5.0     1.5
1  2013    VA  5.1     1.6
2  2014    VA  5.2     3.0
3  2014    MD  4.0     3.4
4  2015    MD  4.1     6.0

In [55]:
df.set_index('state',inplace=True)

In [56]:
df

       pop  unempl
state
VA     5.0     1.5
VA     5.1     1.6
VA     5.2     3.0
MD     4.0     3.4
MD     4.1     6.0