# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [3]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [4]:
ser_1 = pd.Series([1, 1, 2, -3, -5, 8, 13])
ser_1

0     1
1     1
2     2
3    -3
4    -5
5     8
6    13
dtype: int64

In [5]:
ser_1.values

array([ 1,  1,  2, -3, -5,  8, 13])

In [7]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30, 'd':40, 'e':50}

In [3]:
#list with custom index
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [4]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

** Dictionary**

In [8]:
pd_series=pd.Series(d)

In [9]:
pd_series[pd_series>20]

c    30
d    40
e    50
dtype: int64

In [10]:
pd_series/2

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
dtype: float64

### Data in a Series

A pandas Series can hold a variety of object types:

In [6]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [7]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

In [8]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [6]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [9]:
ser1['USA']

1

In [10]:
ser1[0]

1

Operations are then also done based off of index:

In [11]:
ser2=pd.Series([2,3,4,6],index = ['USA', 'Germany','Italy', 'Japan'])

In [12]:
ser1 + ser2

Germany     5.0
Italy       NaN
Japan      10.0
USA         3.0
USSR        NaN
dtype: float64