1. comparison operator
2. logic operator
3. for loops with range
4. whilte loops
5. list comprehension

**comparison operator**

In [12]:
print(10 < 20)
print (10<=10)

True
True

In [13]:
print ('apple'<'banana')
print('apple'=='apple')
print ('apple'!='banana')

True
True
True

In [4]:
50 == 2*25

True

In [5]:
[1,2,3] < [1,2,4]  #because 3 is smller than 4

True

**logic operator**

**and**: 
1. T and T => T
2. T and F => F
3. F and F => F

In [ ]:
price = 9.99
print(price > 9 and price < 10)
print(price > 10 and price < 20)

**or**: 
1. T or T => T
2. T or F => T
3. F or F => F

In [ ]:
price = 9.99
print(price > 9 or price < 10)
print(price > 10 or price < 20)

In [19]:
#not
not True

False

#precedent of logocal operator

#Operator	Precedence
#not	High
#and	Medium
#or	Low

In [23]:
print (True or False and False)

True

In [24]:
print (True and True or False and False)

True

In [25]:
print (not False and False or True)

True

**if loops**

In [32]:
age = input('Enter your age:')

if int(age) >= 18:
    print("Internet is a free space for you.")
elif int(age)>13:
    print ("Need parental control, but you can have a facebook account")
else:
    print ("really too young for the internet")

Enter your age:15
Need parental control, but you can have a facebook account

In [37]:
# try and except

age = input('Enter your age:')

try:
    if int(age) >= 18:
        print("Internet is a free space for you.")
    elif int(age)>13:
        print ("Need parental control, but you can have a facebook account")
    else:
        print ("really too young for the internet")
except:
    print ("something went wrong, here is the raw input: {}".format(age))

Enter your age:80
Internet is a free space for you.

In [3]:
day='Saturday'
if day == "Sunday":
    print("Sleep in")
else:
    print("Go to work")

Go to work

In [1]:
#for loop with range
for i in range(20):
    print("The square of {} is {}.".format(i, i*i))

The square of 0 is 0.
The square of 1 is 1.
The square of 2 is 4.
The square of 3 is 9.
The square of 4 is 16.
The square of 5 is 25.
The square of 6 is 36.
The square of 7 is 49.
The square of 8 is 64.
The square of 9 is 81.
The square of 10 is 100.
The square of 11 is 121.
The square of 12 is 144.
The square of 13 is 169.
The square of 14 is 196.
The square of 15 is 225.
The square of 16 is 256.
The square of 17 is 289.
The square of 18 is 324.
The square of 19 is 361.

In [47]:
sum=0
for index in range(0, 10, 2): #in step of 2
    print (index)
    sum+=index  #sum=sum+index
print (sum)

0
2
4
6
8
20

In [2]:
for letter in "Sunday":
    print(letter)

S
u
n
d
a
y

**while loops**

In [50]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

>hello
Echo: hello
>there yet?
Echo: there yet?
>no quitting
Echo: no quitting
>QUIT
Echo: QUIT

#break to terminate a for/while loop prematurly

In [52]:
for x in range(5):
    for y in range(5):
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

**list comprehension**

In [57]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

#newlist = [expression for item in iterable if condition == True]

newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [58]:
newlist=[x for x in fruits if 'a' in x]
print (newlist)

['apple', 'banana', 'mango']

In [59]:
new_cap_list=[x.upper() for x in fruits if 'a' in x]
print (new_cap_list)

['APPLE', 'BANANA', 'MANGO']