# Introduction to Time Series with Pandas

A lot of our financial data will have a datatime index, so let's learn how to deal with this sort of data with pandas!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
from datetime import datetime

In [4]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [9]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [10]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

You can grab any part of the datetime object you want

In [8]:
my_date.day

2

In [11]:
my_date_time.hour

13

### Pandas with Datetime Index

You'll usually deal with time series as an index when working with pandas dataframes obtained from some sort of financial API. Fortunately pandas has a lot of functions and methods to work with time series!

In [5]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df['date']

0   2000-03-10
1   2000-03-11
2   2000-03-12
Name: date, dtype: datetime64[ns]

In [16]:
first_six=['2016/1/1', '2016/1/2', '2016/1/3', '2016/1/4', '2016/1/5', '2016/1/6']

In [17]:
# Converted to an index
dt_ind = pd.DatetimeIndex(first_six)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq=None)

In [18]:
# Attached to some random data
data = np.random.randn(6,2)
print(data)
cols = ['A','B']

[[ 0.3405415   1.25366921]
 [-1.52411316 -1.24470937]
 [ 0.76534843  1.22777995]
 [-0.14317219  0.4403125 ]
 [ 1.1990741   1.76597026]
 [-0.23141415 -0.32679959]]

In [19]:
df = pd.DataFrame(data,dt_ind,cols)

In [20]:
df

                   A         B
2016-01-01  0.340542  1.253669
2016-01-02 -1.524113 -1.244709
2016-01-03  0.765348  1.227780
2016-01-04 -0.143172  0.440312
2016-01-05  1.199074  1.765970
2016-01-06 -0.231414 -0.326800

In [21]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq=None)

In [15]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [38]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

In [29]:
df[df.index>datetime(2016, 1, 3)]

                   A         B
2016-01-04 -0.143172  0.440312
2016-01-05  1.199074  1.765970
2016-01-06 -0.231414 -0.326800

In [27]:
#df.index>datetime('2016-01-03')
df[df.index>pd.Timestamp('2016-01-03')]

                   A         B
2016-01-04 -0.143172  0.440312
2016-01-05  1.199074  1.765970
2016-01-06 -0.231414 -0.326800

In [36]:
df.sort_index(ascending=False)

                   A         B
2016-01-06 -0.231414 -0.326800
2016-01-05  1.199074  1.765970
2016-01-04 -0.143172  0.440312
2016-01-03  0.765348  1.227780
2016-01-02 -1.524113 -1.244709
2016-01-01  0.340542  1.253669