In [ ]:
#!pip install yfinance

In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")

In [4]:
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'fax': '425 706 7329',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'industryDisp': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 50,
   'title': 'Exec. VP of AI & CTO',
   'yearBorn': 1972,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 3,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1688169600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 330.72,
 'open': 333.67,
 'dayLow': 333.17,
 'dayHigh': 340.005,
 'regularMarketPreviousClose': 330.72,
 'regularMarketOpen': 333.67,
 'regularMarketDayLow': 333.17,
 'regularMarketDayHigh': 340.005,
 'dividendRate': 2.72,
 'dividendYield': 0.0078,
 'exDividendDate': 1692144000,
 'payoutRatio': 0.28170002,
 'fiveYearAvgDividendYield': 1.07,
 'beta': 0.91086,
 'trailingPE': 36.659805,
 'forwardPE': 29.449087,
 'volume': 28484868,
 'regularMarketVolume': 28484868,
 'averageVolume': 28866006,
 'averageVolume10days': 42291460,
 'averageDailyVolume10Day': 42291460,
 'bid': 338.09,
 'ask': 338.1,
 'bidSize': 1300,
 'askSize': 1000,
 'marketCap': 2515946700800,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 366.78,
 'priceToSalesTrailing12Months': 12.119729,
 'fiftyDayAverage': 334.9074,
 'twoHundredDayAverage': 277.0708,
 'trailingAnnualDividendRate': 2.66,
 'trailingAnnualDividendYield': 0.008043058,
 'currency': 'USD',
 'enterpriseValue': 2554040680448,
 'profitMargins': 0.33248,
 'floatShares': 7429390475,
 'sharesOutstanding': 7435489792,
 'sharesShort': 38002864,
 'sharesShortPriorMonth': 46395809,
 'sharesShortPreviousMonthDate': 1685491200,
 'dateShortInterest': 1688083200,
 'sharesPercentSharesOut': 0.0050999997,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73767,
 'shortRatio': 1.4,
 'shortPercentOfFloat': 0.0050999997,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 12.925739,
 'lastFiscalYearEnd': 1656547200,
 'nextFiscalYearEnd': 1688083200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 0.094,
 'netIncomeToCommon': 69020000256,
 'trailingEps': 9.23,
 'forwardEps': 11.49,
 'pegRatio': 2.53,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 12.303,
 'enterpriseToEbitda': 25.52,
 '52WeekChange': 21.711445,
 'SandP52WeekChange': 11.25617,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1684281600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 338.37,
 'targetHighPrice': 385.22,
 'targetLowPrice': 210.28,
 'targetMeanPrice': 346.1,
 'targetMedianPrice': 362.56,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 43,
 'totalCash': 104419000320,
 'totalCashPerShare': 14.043,
 'ebitda': 100080001024,
 'totalDebt': 79312003072,
 'quickRatio': 1.655,
 'currentRatio': 1.913,
 'totalRevenue': 207590998016,
 'debtToEquity': 40.739,
 'revenuePerShare': 27.844,
 'returnOnAssets': 0.14829001,
 'returnOnEquity': 0.38601002,
 'grossProfits': 135620000000,
 'freeCashflow': 42964873216,
 'operatingCashflow': 83441000448,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.071,
 'grossMargins': 0.68522,
 'ebitdaMargins': 0.48209998,
 'operatingMargins': 0.41415,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.4853}

In [9]:
hist = msft.history(period="120mo")
display(hist)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-07-29 00:00:00-04:00,26.224441,26.332772,26.166109,26.282774,28870700,0.0,0.0
2013-07-30 00:00:00-04:00,26.482773,26.766099,26.291110,26.541105,45799500,0.0,0.0
2013-07-31 00:00:00-04:00,26.641099,26.707764,26.424436,26.532768,43898400,0.0,0.0
2013-08-01 00:00:00-04:00,26.716100,26.741098,26.332774,26.391106,42557900,0.0,0.0
2013-08-02 00:00:00-04:00,26.407770,26.582766,26.307772,26.574432,29199900,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-24 00:00:00-04:00,345.850006,346.920013,342.309998,345.109985,26678100,0.0,0.0
2023-07-25 00:00:00-04:00,347.109985,351.890015,345.070007,350.980011,41637700,0.0,0.0
2023-07-26 00:00:00-04:00,341.440002,344.670013,333.109985,337.769989,58383700,0.0,0.0
2023-07-27 00:00:00-04:00,340.480011,341.329987,329.049988,330.720001,39635300,0.0,0.0
2023-07-28 00:00:00-04:00,333.670013,340.010010,333.170013,338.369995,28463000,0.0,0.0

In [10]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1690574401,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 338.37,
 'chartPreviousClose': 31.62,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'end': 1690551000,
   'start': 1690531200,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'end': 1690574400,
   'start': 1690551000,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'end': 1690588800,
   'start': 1690574400,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '120mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [12]:
display(msft.actions)

                           Dividends  Stock Splits
Date
2013-08-13 00:00:00-04:00       0.23           0.0
2013-11-19 00:00:00-05:00       0.28           0.0
2014-02-18 00:00:00-05:00       0.28           0.0
2014-05-13 00:00:00-04:00       0.28           0.0
2014-08-19 00:00:00-04:00       0.28           0.0
2014-11-18 00:00:00-05:00       0.31           0.0
2015-02-17 00:00:00-05:00       0.31           0.0
2015-05-19 00:00:00-04:00       0.31           0.0
2015-08-18 00:00:00-04:00       0.31           0.0
2015-11-17 00:00:00-05:00       0.36           0.0
2016-02-16 00:00:00-05:00       0.36           0.0
2016-05-17 00:00:00-04:00       0.36           0.0
2016-08-16 00:00:00-04:00       0.36           0.0
2016-11-15 00:00:00-05:00       0.39           0.0
2017-02-14 00:00:00-05:00       0.39           0.0
2017-05-16 00:00:00-04:00       0.39           0.0
2017-08-15 00:00:00-04:00       0.39           0.0
2017-11-15 00:00:00-05:00       0.42           0.0
2018-02-14 00:00:00-05:00       0.42           0.0
2018-05-16 00:00:00-04:00       0.42           0.0
2018-08-15 00:00:00-04:00       0.42           0.0
2018-11-14 00:00:00-05:00       0.46           0.0
2019-02-20 00:00:00-05:00       0.46           0.0
2019-05-15 00:00:00-04:00       0.46           0.0
2019-08-14 00:00:00-04:00       0.46           0.0
2019-11-20 00:00:00-05:00       0.51           0.0
2020-02-19 00:00:00-05:00       0.51           0.0
2020-05-20 00:00:00-04:00       0.51           0.0
2020-08-19 00:00:00-04:00       0.51           0.0
2020-11-18 00:00:00-05:00       0.56           0.0
2021-02-17 00:00:00-05:00       0.56           0.0
2021-05-19 00:00:00-04:00       0.56           0.0
2021-08-18 00:00:00-04:00       0.56           0.0
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0

In [13]:
msft.dividends

Date
2013-08-13 00:00:00-04:00    0.23
2013-11-19 00:00:00-05:00    0.28
2014-02-18 00:00:00-05:00    0.28
2014-05-13 00:00:00-04:00    0.28
2014-08-19 00:00:00-04:00    0.28
2014-11-18 00:00:00-05:00    0.31
2015-02-17 00:00:00-05:00    0.31
2015-05-19 00:00:00-04:00    0.31
2015-08-18 00:00:00-04:00    0.31
2015-11-17 00:00:00-05:00    0.36
2016-02-16 00:00:00-05:00    0.36
2016-05-17 00:00:00-04:00    0.36
2016-08-16 00:00:00-04:00    0.36
2016-11-15 00:00:00-05:00    0.39
2017-02-14 00:00:00-05:00    0.39
2017-05-16 00:00:00-04:00    0.39
2017-08-15 00:00:00-04:00    0.39
2017-11-15 00:00:00-05:00    0.42
2018-02-14 00:00:00-05:00    0.42
2018-05-16 00:00:00-04:00    0.42
2018-08-15 00:00:00-04:00    0.42
2018-11-14 00:00:00-05:00    0.46
2019-02-20 00:00:00-05:00    0.46
2019-05-15 00:00:00-04:00    0.46
2019-08-14 00:00:00-04:00    0.46
2019-11-20 00:00:00-05:00    0.51
2020-02-19 00:00:00-05:00    0.51
2020-05-20 00:00:00-04:00    0.51
2020-08-19 00:00:00-04:00    0.51
2020-11-18 00:00:00-05:00    0.56
2021-02-17 00:00:00-05:00    0.56
2021-05-19 00:00:00-04:00    0.56
2021-08-18 00:00:00-04:00    0.56
2021-11-17 00:00:00-05:00    0.62
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
2023-02-15 00:00:00-05:00    0.68
2023-05-17 00:00:00-04:00    0.68
Name: Dividends, dtype: float64

In [14]:
msft.splits

Series([], Name: Stock Splits, dtype: float64)

In [15]:
# show share count
msft.get_shares_full(start="2022-01-01", end=None)

2022-01-27 00:00:00-05:00    7496869888
2022-02-04 00:00:00-05:00    7800719872
2022-02-05 00:00:00-05:00    7496869888
2022-02-11 00:00:00-05:00    7496869888
2022-03-04 00:00:00-05:00    7605040128
                                ...
2023-07-07 00:00:00-04:00    7435489792
2023-07-12 00:00:00-04:00    7449829888
2023-07-13 00:00:00-04:00    7435489792
2023-07-19 00:00:00-04:00    7731420160
2023-07-21 00:00:00-04:00    7435489792
Length: 61, dtype: int64

In [16]:
# - income statement
msft.income_stmt

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.189786,0.131134,0.138266,0.16
Normalized EBITDA,102384000000.0,97843000000.0,81602000000.0,65755000000.0
Total Unusual Items,NaN,334000000.0,1303000000.0,28000000.0
Total Unusual Items Excluding Goodwill,NaN,334000000.0,1303000000.0,28000000.0
Net Income From Continuing Operation Net Minority Interest,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Reconciled Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Reconciled Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
EBIT,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Net Interest Income,NaN,31000000.0,-215000000.0,89000000.0
Interest Expense,NaN,2063000000.0,2346000000.0,2591000000.0
Interest Income,NaN,2094000000.0,2131000000.0,2680000000.0
Normalized Income,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income From Continuing And Discontinued Operation,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Total Expenses,123392000000.0,114887000000.0,98172000000.0,90056000000.0
Total Operating Income As Reported,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Diluted Average Shares,7472000000.0,7540000000.0,7608000000.0,7683000000.0
Basic Average Shares,7446000000.0,7496000000.0,7547000000.0,7610000000.0
Diluted EPS,9.68,9.65,8.05,5.76
Basic EPS,9.72,9.7,8.12,5.82
Diluted NI Availto Com Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Common Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Including Noncontrolling Interests,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Continuous Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Tax Provision,16950000000.0,10978000000.0,9831000000.0,8755000000.0
Pretax Income,89311000000.0,83716000000.0,71102000000.0,53036000000.0
Other Income Expense,788000000.0,333000000.0,1186000000.0,77000000.0
Other Non Operating Income Expenses,788000000.0,333000000.0,1186000000.0,77000000.0
Special Income Charges,NaN,-101000000.0,NaN,NaN
Write Off,NaN,101000000.0,NaN,NaN
Gain On Sale Of Security,NaN,435000000.0,1303000000.0,28000000.0
Net Non Operating Interest Income Expense,NaN,31000000.0,-215000000.0,89000000.0
Interest Expense Non Operating,NaN,2063000000.0,2346000000.0,2591000000.0
Interest Income Non Operating,NaN,2094000000.0,2131000000.0,2680000000.0
Operating Income,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Operating Expense,57529000000.0,52237000000.0,45940000000.0,43978000000.0
Research And Development,27195000000.0,24512000000.0,20716000000.0,19269000000.0
Selling General And Administration,30334000000.0,27725000000.0,25224000000.0,24709000000.0
Selling And Marketing Expense,22759000000.0,21825000000.0,20117000000.0,19598000000.0
General And Administrative Expense,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Other Gand A,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Gross Profit,146052000000.0,135620000000.0,115856000000.0,96937000000.0
Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
Total Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0
Operating Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0

In [17]:
msft.quarterly_income_stmt

,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,-10640000.0,0.0
Tax Rate For Calcs,0.19,0.192917,0.192438,0.19,0.182896
Normalized EBITDA,28128000000.0,25901000000.0,24047000000.0,24918000000.0,24513000000.0
Total Unusual Items,NaN,162000000.0,-232000000.0,-56000000.0,-80000000.0
Total Unusual Items Excluding Goodwill,NaN,162000000.0,-232000000.0,-56000000.0,-80000000.0
Net Income From Continuing Operation Net Minority Interest,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Reconciled Depreciation,3874000000.0,3549000000.0,3648000000.0,2790000000.0,3979000000.0
Reconciled Cost Of Revenue,16795000000.0,16128000000.0,17488000000.0,15452000000.0,16429000000.0
EBIT,24254000000.0,22352000000.0,20399000000.0,22072000000.0,20534000000.0
Net Interest Income,NaN,252000000.0,210000000.0,141000000.0,56000000.0
Interest Expense,NaN,496000000.0,490000000.0,500000000.0,496000000.0
Interest Income,NaN,748000000.0,700000000.0,641000000.0,552000000.0
Normalized Income,20081000000.0,18299000000.0,16425000000.0,17601360000.0,16740000000.0
Net Income From Continuing And Discontinued Operation,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Total Expenses,31935000000.0,30505000000.0,32348000000.0,28604000000.0,31331000000.0
Total Operating Income As Reported,24254000000.0,22352000000.0,20399000000.0,21518000000.0,20534000000.0
Diluted Average Shares,7467000000.0,7464000000.0,7473000000.0,7485000000.0,7506000000.0
Basic Average Shares,7434000000.0,7441000000.0,7451000000.0,7457000000.0,7474000000.0
Diluted EPS,2.69,2.45,2.2,2.35,2.23
Basic EPS,2.7,2.46,2.2,2.35,2.24
Diluted NI Availto Com Stockholders,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Net Income Common Stockholders,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Net Income,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Net Income Including Noncontrolling Interests,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Net Income Continuous Operations,20081000000.0,18299000000.0,16425000000.0,17556000000.0,16740000000.0
Tax Provision,4646000000.0,4374000000.0,3914000000.0,4016000000.0,3747000000.0
Pretax Income,24727000000.0,22673000000.0,20339000000.0,21572000000.0,20487000000.0
Other Income Expense,473000000.0,321000000.0,-60000000.0,-87000000.0,-47000000.0
Other Non Operating Income Expenses,473000000.0,321000000.0,-60000000.0,-31000000.0,-47000000.0
Gain On Sale Of Security,NaN,162000000.0,-232000000.0,-56000000.0,21000000.0
Net Non Operating Interest Income Expense,NaN,252000000.0,210000000.0,141000000.0,56000000.0
Interest Expense Non Operating,NaN,496000000.0,490000000.0,500000000.0,496000000.0
Interest Income Non Operating,NaN,748000000.0,700000000.0,641000000.0,552000000.0
Operating Income,24254000000.0,22352000000.0,20399000000.0,21518000000.0,20534000000.0
Operating Expense,15140000000.0,14377000000.0,14860000000.0,13152000000.0,14902000000.0
Research And Development,6739000000.0,6984000000.0,6844000000.0,6628000000.0,6849000000.0
Selling General And Administration,8401000000.0,7393000000.0,8016000000.0,6524000000.0,8053000000.0
Selling And Marketing Expense,6204000000.0,5750000000.0,5679000000.0,5126000000.0,6304000000.0
General And Administrative Expense,2197000000.0,1643000000.0,2337000000.0,1398000000.0,1749000000.0
Other Gand A,2197000000.0,1643000000.0,2337000000.0,1398000000.0,1749000000.0
Gross Profit,39394000000.0,36729000000.0,35259000000.0,34670000000.0,35436000000.0
Cost Of Revenue,16795000000.0,16128000000.0,17488000000.0,15452000000.0,16429000000.0
Total Revenue,56189000000.0,52857000000.0,52747000000.0,50122000000.0,51865000000.0
Operating Revenue,56189000000.0,52857000000.0,52747000000.0,50122000000.0,51865000000.0

In [18]:
# show holders
display(msft.major_holders)
display(msft.institutional_holders)
display(msft.mutualfund_holders)

        0                                      1
0   0.05%        % of Shares Held by All Insider
1  73.77%       % of Shares Held by Institutions
2  73.80%        % of Float Held by Institutions
3    6159  Number of Institutions Holding Shares

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Group Inc,649544303,2023-03-30,0.0874,219786302634
1,Blackrock Inc.,537573096,2023-03-30,0.0723,181898605868
2,State Street Corporation,292106885,2023-03-30,0.0393,98840205251
3,"FMR, LLC",200523373,2023-03-30,0.0270,67851092742
4,Price (T.Rowe) Associates Inc,166035734,2023-03-30,0.0223,56181510502
5,"Geode Capital Management, LLC",144365760,2023-03-30,0.0194,48849041506
6,Morgan Stanley,120316895,2023-03-30,0.0162,40711627173
7,JP Morgan Chase & Company,94617741,2023-03-30,0.0127,32015804560
8,Capital World Investors,87608980,2023-03-30,0.0118,29644250134
9,Norges Bank Investment Management,86316926,2022-12-30,0.0116,29207057829

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,226594602,2022-12-30,0.0304,76672814372
1,Vanguard 500 Index Fund,172326589,2022-12-30,0.0232,58310147078
2,Fidelity 500 Index Fund,81720092,2023-02-27,0.0110,27651627131
3,SPDR S&P 500 ETF Trust,80591530,2023-03-30,0.0108,27269755612
4,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",75130340,2023-03-30,0.0101,25421852778
5,iShares Core S&P 500 ETF,66532494,2023-02-27,0.0089,22512599669
6,Vanguard Growth Index Fund,62920006,2022-12-30,0.0085,21290242122
7,Vanguard Institutional Index Fund-Institutiona...,52237514,2022-12-30,0.0070,17675607357
8,Growth Fund Of America Inc,41256784,2023-03-30,0.0055,13960057800
9,Vanguard Information Technology Index Fund,34018479,2022-11-29,0.0046,11510832573

In [19]:
# show news
msft.news

[{'uuid': 'b3fa25dc-2b85-3119-9d25-c0e3a7639344',
  'title': 'Dow Jones Futures Fall After Market Rally Powers Higher; Apple, Tesla Lead Stocks To Watch',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/b3fa25dc-2b85-3119-9d25-c0e3a7639344/dow-jones-futures-fall-after.html',
  'providerPublishTime': 1690775335,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/1Dv8tjENy.cqs9vAmCgNKQ--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/7009328d95c23df6351c4a1d33db531c',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/T9vbQ1XV.1cuYNz97Gj7.A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/7009328d95c23df6351c4a1d33db531c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['TSLA',
   'COMP',
   '^GSPC',
   '^DJI',
   'MRVL',
   'AAPL',
   'MSFT',
   'SNPS',
   'SHOP']},
 {'uuid': 'b774ea6c-e6fc-331a-977f-1a173505d4aa',
  'title': 'Investors Are Happy to Pay Premium for Tech, But Not for AI',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/investors-happy-pay-premium-tech-000000403.html',
  'providerPublishTime': 1690761600,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/YN7krsK1_18_DUPAOC7uDQ--~B/aD04NDY7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/c133ea6b7dd0343eaa6b7e0b246744b2',
     'width': 1296,
     'height': 846,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/o9ay8kgGHaKqK_IYBwEQcQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/c133ea6b7dd0343eaa6b7e0b246744b2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'f2acf178-44bb-3f2e-80da-9cc8fb22035c',
  'title': 'Stock Market Forecast For The Next Six Months: After Big Gains In Tech Stocks, Eye These Caution Signs',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/f2acf178-44bb-3f2e-80da-9cc8fb22035c/stock-market-forecast-for-the.html',
  'providerPublishTime': 1690731017,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/suVCnKuQdkF3Bw5UlEudSQ--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/38e89fea47123da9c682cc23b78bf76c',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/79sGxQdbgCywsE9JoktVSg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/38e89fea47123da9c682cc23b78bf76c',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^DJI', 'ORCL', 'MSFT']},
 {'uuid': '108510fb-d44e-3f7e-8947-8bd1331a617e',
  'title': "When You Look Back in a Few Years, You'll Wish You'd Bought This Trillion-Dollar AI Stock",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/108510fb-d44e-3f7e-8947-8bd1331a617e/when-you-look-back-in-a-few.html',
  'providerPublishTime': 1690722900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/kkJ5J32f2SE3HE_3zh5G1g--~B/aD0zMTE4O3c9NTU0NDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/829625b1f51b10013de5473b7acb9431',
     'width': 5544,
     'height': 3118,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/wRuEDHj7.XS41LkW1Fh.ow--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/829625b1f51b10013de5473b7acb9431',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'e8d89d7b-dbc5-34ee-9f87-469b90559382',
  'title': 'What’s wrong with tech giants riding the AI wave',
  'publisher': 'Financial Times',
  'link': 'https://finance.yahoo.com/m/e8d89d7b-dbc5-34ee-9f87-469b90559382/what%E2%80%99s-wrong-with-tech-giants.html',
  'providerPublishTime': 1690718409,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': '56ec95e1-b740-3564-8f6d-242183f269e2',
  'title': 'As Generative AI Reshapes the Workforce, These Companies May Be Most Affected',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/56ec95e1-b740-3564-8f6d-242183f269e2/as-generative-ai-reshapes-the.html',
  'providerPublishTime': 1690718400,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/jx15S.MOHQBnTVb.gqYIuQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/07ca42a98eb4e20709d352bd18b6ab48',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/RoWb.TXv4zrS1vHDSei3TQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/07ca42a98eb4e20709d352bd18b6ab48',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'FI', 'NVDA', 'TGT', 'VZ']},
 {'uuid': 'd92b78e9-b54b-3606-b2a3-8cea7c912263',
  'title': '20 Least Educated States in America',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/20-least-educated-states-america-110925939.html',
  'providerPublishTime': 1690715365,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/hQnqHp9zaAIzv_oOK7Wa2A--~B/aD01MDA7dz03NTA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/453f00da59f070ddca4461c238b40c54',
     'width': 750,
     'height': 500,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Jb5dHBZOpo0j1GIc04MYqg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/453f00da59f070ddca4461c238b40c54',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'AMZN']},
 {'uuid': 'fb5a22fe-2709-3d9d-a47e-76c0b8873cc9',
  'title': 'Should Investors Buy Microsoft Stock?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/fb5a22fe-2709-3d9d-a47e-76c0b8873cc9/should-investors-buy.html',
  'providerPublishTime': 1690713480,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/JW.OO6VP3Hh_T8KChhVY4g--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a01214623a4a17ba86cd69c88cfcdbfd',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LSKhsy0h7w3yMP1ESWQAWA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a01214623a4a17ba86cd69c88cfcdbfd',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [20]:
#multiple tickers

In [21]:
tickers = yf.Tickers('msft aapl goog')

In [22]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [23]:
tickers.tickers['MSFT'].info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'fax': '425 706 7329',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'industryDisp': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 50,
   'title': 'Exec. VP of AI & CTO',
   'yearBorn': 1972,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 3,
 'compensationRisk': 3,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1688169600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 330.72,
 'open': 333.67,
 'dayLow': 333.17,
 'dayHigh': 340.005,
 'regularMarketPreviousClose': 330.72,
 'regularMarketOpen': 333.67,
 'regularMarketDayLow': 333.17,
 'regularMarketDayHigh': 340.005,
 'dividendRate': 2.72,
 'dividendYield': 0.0078,
 'exDividendDate': 1692144000,
 'payoutRatio': 0.28170002,
 'fiveYearAvgDividendYield': 1.07,
 'beta': 0.91086,
 'trailingPE': 36.659805,
 'forwardPE': 29.449087,
 'volume': 28484868,
 'regularMarketVolume': 28484868,
 'averageVolume': 28866006,
 'averageVolume10days': 42291460,
 'averageDailyVolume10Day': 42291460,
 'bid': 338.09,
 'ask': 338.1,
 'bidSize': 1300,
 'askSize': 1000,
 'marketCap': 2515946700800,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 366.78,
 'priceToSalesTrailing12Months': 12.119729,
 'fiftyDayAverage': 334.9074,
 'twoHundredDayAverage': 277.0708,
 'trailingAnnualDividendRate': 2.66,
 'trailingAnnualDividendYield': 0.008043058,
 'currency': 'USD',
 'enterpriseValue': 2554040680448,
 'profitMargins': 0.33248,
 'floatShares': 7429390475,
 'sharesOutstanding': 7435489792,
 'sharesShort': 38002864,
 'sharesShortPriorMonth': 46395809,
 'sharesShortPreviousMonthDate': 1685491200,
 'dateShortInterest': 1688083200,
 'sharesPercentSharesOut': 0.0050999997,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73767,
 'shortRatio': 1.4,
 'shortPercentOfFloat': 0.0050999997,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 12.925739,
 'lastFiscalYearEnd': 1656547200,
 'nextFiscalYearEnd': 1688083200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 0.094,
 'netIncomeToCommon': 69020000256,
 'trailingEps': 9.23,
 'forwardEps': 11.49,
 'pegRatio': 2.53,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 12.303,
 'enterpriseToEbitda': 25.52,
 '52WeekChange': 21.711445,
 'SandP52WeekChange': 11.25617,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1684281600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 338.37,
 'targetHighPrice': 385.22,
 'targetLowPrice': 210.28,
 'targetMeanPrice': 346.1,
 'targetMedianPrice': 362.56,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 43,
 'totalCash': 104419000320,
 'totalCashPerShare': 14.043,
 'ebitda': 100080001024,
 'totalDebt': 79312003072,
 'quickRatio': 1.655,
 'currentRatio': 1.913,
 'totalRevenue': 207590998016,
 'debtToEquity': 40.739,
 'revenuePerShare': 27.844,
 'returnOnAssets': 0.14829001,
 'returnOnEquity': 0.38601002,
 'grossProfits': 135620000000,
 'freeCashflow': 42964873216,
 'operatingCashflow': 83441000448,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.071,
 'grossMargins': 0.68522,
 'ebitdaMargins': 0.48209998,
 'operatingMargins': 0.41415,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.4853}

In [24]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-29 00:00:00-04:00,189.080002,190.070007,188.940002,189.589996,46347300,0.0,0.0
2023-06-30 00:00:00-04:00,191.630005,194.479996,191.259995,193.970001,85069600,0.0,0.0
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0.0,0.0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0.0,0.0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0.0,0.0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0.0,0.0
2023-07-10 00:00:00-04:00,189.259995,189.990005,187.039993,188.610001,59922200,0.0,0.0
2023-07-11 00:00:00-04:00,189.160004,189.300003,186.600006,188.080002,46638100,0.0,0.0
2023-07-12 00:00:00-04:00,189.679993,191.699997,188.470001,189.770004,60750200,0.0,0.0
2023-07-13 00:00:00-04:00,190.500000,191.190002,189.779999,190.539993,41342300,0.0,0.0
2023-07-14 00:00:00-04:00,190.229996,191.179993,189.630005,190.690002,41573900,0.0,0.0
2023-07-17 00:00:00-04:00,191.899994,194.320007,191.809998,193.990005,50520200,0.0,0.0
2023-07-18 00:00:00-04:00,193.350006,194.330002,192.419998,193.729996,48353800,0.0,0.0
2023-07-19 00:00:00-04:00,193.100006,198.229996,192.649994,195.100006,80507300,0.0,0.0
2023-07-20 00:00:00-04:00,195.089996,196.470001,192.500000,193.130005,59581200,0.0,0.0
2023-07-21 00:00:00-04:00,194.100006,194.970001,191.229996,191.940002,71917800,0.0,0.0
2023-07-24 00:00:00-04:00,193.410004,194.910004,192.250000,192.750000,45377800,0.0,0.0
2023-07-25 00:00:00-04:00,193.330002,194.440002,192.919998,193.619995,37283200,0.0,0.0
2023-07-26 00:00:00-04:00,193.669998,195.639999,193.320007,194.500000,47471900,0.0,0.0
2023-07-27 00:00:00-04:00,196.020004,197.199997,192.550003,193.220001,47460200,0.0,0.0
2023-07-28 00:00:00-04:00,194.669998,196.630005,194.139999,195.830002,48254600,0.0,0.0

In [25]:
tickers.tickers['GOOG'].actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

In [ ]:
# to download the price data

In [26]:
data = yf.download("SPY AAPL", period="1mo")

[*********************100%***********************]  2 of 2 completed

In [27]:
data

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2023-06-29  189.589996  438.109985  189.589996  438.109985  190.070007
2023-06-30  193.970001  443.279999  193.970001  443.279999  194.479996
2023-07-03  192.460007  443.790009  192.460007  443.790009  193.880005
2023-07-05  191.330002  443.130005  191.330002  443.130005  192.979996
2023-07-06  191.809998  439.660004  191.809998  439.660004  192.020004
2023-07-07  190.679993  438.549988  190.679993  438.549988  192.669998
2023-07-10  188.610001  439.660004  188.610001  439.660004  189.990005
2023-07-11  188.080002  442.459991  188.080002  442.459991  189.300003
2023-07-12  189.770004  446.019989  189.770004  446.019989  191.699997
2023-07-13  190.539993  449.559998  190.539993  449.559998  191.190002
2023-07-14  190.690002  449.279999  190.690002  449.279999  191.179993
2023-07-17  193.990005  450.839996  193.990005  450.839996  194.320007
2023-07-18  193.729996  454.190002  193.729996  454.190002  194.330002
2023-07-19  195.100006  455.200012  195.100006  455.200012  198.229996
2023-07-20  193.130005  452.179993  193.130005  452.179993  196.470001
2023-07-21  191.940002  452.179993  191.940002  452.179993  194.970001
2023-07-24  192.750000  454.200012  192.750000  454.200012  194.910004
2023-07-25  193.619995  455.440002  193.619995  455.440002  194.440002
2023-07-26  194.500000  455.510010  194.500000  455.510010  195.639999
2023-07-27  193.220001  452.489990  193.220001  452.489990  197.199997
2023-07-28  195.830002  456.920013  195.830002  456.920013  196.630005

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2023-06-29  438.279999  188.940002  435.540009  189.080002  435.959991
2023-06-30  444.299988  191.259995  441.109985  191.630005  441.440002
2023-07-03  444.079987  191.759995  442.630005  193.779999  442.920013
2023-07-05  443.890015  190.619995  441.899994  191.570007  441.910004
2023-07-06  440.100006  189.199997  437.059998  189.839996  439.420013
2023-07-07  442.640015  190.240005  438.299988  191.410004  438.630005
2023-07-10  439.839996  187.039993  437.589996  189.259995  438.179993
2023-07-11  442.970001  186.600006  439.440002  189.160004  440.450012
2023-07-12  447.480011  188.470001  444.910004  189.679993  446.390015
2023-07-13  450.380005  189.779999  447.450012  190.500000  447.899994
2023-07-14  451.359985  189.630005  448.489990  190.229996  450.480011
2023-07-17  451.929993  191.809998  449.079987  191.899994  449.130005
2023-07-18  454.859985  192.419998  450.049988  193.350006  450.500000
2023-07-19  456.429993  192.649994  454.109985  193.100006  455.010010
2023-07-20  455.100006  192.500000  451.440002  195.089996  454.170013
2023-07-21  454.170013  191.229996  452.170013  194.100006  453.959991
2023-07-24  455.040009  192.250000  452.299988  193.410004  453.369995
2023-07-25  456.739990  192.919998  453.869995  193.330002  453.920013
2023-07-26  456.989990  193.320007  453.380005  193.669998  454.470001
2023-07-27  459.440002  192.550003  451.549988  196.020004  459.019989
2023-07-28  457.779999  194.139999  452.489990  194.669998  455.880005

              Volume
                AAPL        SPY
Date
2023-06-29  46347300   67882300
2023-06-30  85069600  104921500
2023-07-03  31458200   32793400
2023-07-05  46920300   58418400
2023-07-06  45094300   80658300
2023-07-07  46778000   86076100
2023-07-10  59922200   62443500
2023-07-11  46638100   64463800
2023-07-12  60750200   91924500
2023-07-13  41342300   72425200
2023-07-14  41573900   69761800
2023-07-17  50520200   52680200
2023-07-18  48353800   80744400
2023-07-19  80507300   65891700
2023-07-20  59581200   70591600
2023-07-21  71917800   71245400
2023-07-24  45377800   54023400
2023-07-25  37283200   55191200
2023-07-26  47471900   71052900
2023-07-27  47460200   92194400
2023-07-28  48254600   79949400