In [1]:
import pandas as pd

In [2]:
df_news=pd.read_csv("Combined_News_DJIA.csv")

In [3]:
df_news.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [4]:
type(df_news['Date'].iloc[0])

str

In [5]:
df_news['Date']=pd.to_datetime(df_news['Date'])

In [6]:
type(df_news['Date'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
#getting DJIA data
df_price=pd.read_csv("DJIA - Sheet1.csv", thousands=r',')

In [8]:
df_price.head(5)

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jul 05, 2023",34344.72,34376.11,34226.98,34288.64,34288.64,274570000.0
1,"Jul 03, 2023",34369.78,34465.60,34286.54,34418.47,34418.47,157590000.0
2,"Jun 30, 2023",34269.92,34467.35,34269.92,34407.60,34407.60,351060000.0
3,"Jun 29, 2023",33854.57,34147.68,33828.63,34122.42,34122.42,279940000.0
4,"Jun 28, 2023",33881.38,33903.76,33755.92,33852.66,33852.66,268050000.0

In [9]:
df_price['Date']=pd.to_datetime(df_price['Date'])

In [10]:
df_price['Date'][0:10]

0   2023-07-05
1   2023-07-03
2   2023-06-30
3   2023-06-29
4   2023-06-28
5   2023-06-27
6   2023-06-26
7   2023-06-23
8   2023-06-22
9   2023-06-21
Name: Date, dtype: datetime64[ns]

In [11]:
df_price.sort_values(by='Date', inplace=True)
df_price

,Date,Open,High,Low,Close*,Adj Close**,Volume
3774,2008-07-07,11289.19,11399.11,11120.74,11231.96,11231.96,248240000.0
3773,2008-07-08,11225.03,11391.13,11174.88,11384.21,11384.21,271500000.0
3772,2008-07-09,11381.93,11418.24,11141.99,11147.44,11147.44,227100000.0
3771,2008-07-10,11148.01,11270.30,11086.95,11229.02,11229.02,248010000.0
3770,2008-07-11,11226.17,11241.07,10977.68,11100.54,11100.54,275010000.0
...,...,...,...,...,...,...,...
4,2023-06-28,33881.38,33903.76,33755.92,33852.66,33852.66,268050000.0
3,2023-06-29,33854.57,34147.68,33828.63,34122.42,34122.42,279940000.0
2,2023-06-30,34269.92,34467.35,34269.92,34407.60,34407.60,351060000.0
1,2023-07-03,34369.78,34465.60,34286.54,34418.47,34418.47,157590000.0
0,2023-07-05,34344.72,34376.11,34226.98,34288.64,34288.64,274570000.0

In [12]:
df_price=df_price.reset_index(drop=True)
df_price

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,2008-07-07,11289.19,11399.11,11120.74,11231.96,11231.96,248240000.0
1,2008-07-08,11225.03,11391.13,11174.88,11384.21,11384.21,271500000.0
2,2008-07-09,11381.93,11418.24,11141.99,11147.44,11147.44,227100000.0
3,2008-07-10,11148.01,11270.30,11086.95,11229.02,11229.02,248010000.0
4,2008-07-11,11226.17,11241.07,10977.68,11100.54,11100.54,275010000.0
...,...,...,...,...,...,...,...
3770,2023-06-28,33881.38,33903.76,33755.92,33852.66,33852.66,268050000.0
3771,2023-06-29,33854.57,34147.68,33828.63,34122.42,34122.42,279940000.0
3772,2023-06-30,34269.92,34467.35,34269.92,34407.60,34407.60,351060000.0
3773,2023-07-03,34369.78,34465.60,34286.54,34418.47,34418.47,157590000.0
3774,2023-07-05,34344.72,34376.11,34226.98,34288.64,34288.64,274570000.0

In [13]:
#lets add percentage
df_price['percentage']=df_price["Adj Close**"].pct_change()
df_price.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume,percentage
0,2008-07-07,11289.19,11399.11,11120.74,11231.96,11231.96,248240000.0,NaN
1,2008-07-08,11225.03,11391.13,11174.88,11384.21,11384.21,271500000.0,0.013555
2,2008-07-09,11381.93,11418.24,11141.99,11147.44,11147.44,227100000.0,-0.020798
3,2008-07-10,11148.01,11270.30,11086.95,11229.02,11229.02,248010000.0,0.007318
4,2008-07-11,11226.17,11241.07,10977.68,11100.54,11100.54,275010000.0,-0.011442

In [14]:
#let's find rolling standard deviation to find dates that are interesting
window = 52 # for two month
target_column = 'Adj Close**'
roll = df_price[target_column].rolling(window)
df_price['z-score'] = (df_price[target_column] - roll.mean()) / roll.std()
df_price
df_price.to_csv("new_djprice.csv",index=False)

In [15]:
# let's find the days that have significnat movement
df_significant_date=df_price[abs(df_price['z-score'])>2.5]
df_significant_date
df_significant_date.to_csv("df_significant_news.csv")

In [16]:
# what portion of the date is significant
len(df_significant_date)/len(df_price)

0.0280794701986755

**Clean the data**

In [215]:
#lets print the 50 headlines
headlines=pd_news['Top1'][0:10]
[print(x) for x in headlines]

b"Georgia 'downs two Russian warplanes' as countries move to brink of war"
b'Why wont America and Nato help us? If they wont help us now, why did we help them in Iraq?'
b'Remember that adorable 9-year-old who sang at the opening ceremonies? That was fake, too.'
b' U.S. refuses Israel weapons to attack Iran: report'
b'All the experts admit that we should legalise drugs '
b"Mom of missing gay man: Too bad he's not a 21-year-old cheerleader, then they'd still be looking for him"
b'In an Afghan prison, the majority of female prisoners are serving 20-year sentences for being victims of rape '
b"Man arrested and locked up for five hours after taking photo of police van ignoring 'no entry' sign"
b'Two elderly Chinese women have been sentenced to a year of re-education through labor after they sought a permit to demonstrate in an official Olympic protest area.'
b"British resident held in Guantanamo Bay wins legal battle to force Foreign Office to reveal 'torture' evidence"

[None, None, None, None, None, None, None, None, None, None]

In [96]:
# wanna see if the headlines information rank means anything
for i in range(3, 4):
    print ("day, ", i)
    [print(x) for x in pd_news.iloc[i, 2:]]

day,  3
b' U.S. refuses Israel weapons to attack Iran: report'
b"When the president ordered to attack Tskhinvali [the capital of South Ossetia], we knew then we were doomed. How come he didn't realize that?"
b' Israel clears troops who killed Reuters cameraman'
b'Britain\'s policy of being tough on drugs is "pointless", says a former civil servant who once ran the Cabinet\'s anti-drugs unit.'
b'Body of 14 year old found in trunk; Latest (ransom paid) kidnapping victim in Mexico. Head cop quits, Prez dissolves suspect elite task force'
b'China has moved 10 *million* quake survivors into prefab homes'
b"Bush announces Operation Get All Up In Russia's Grill. Yeah, this will end well."
b'Russian forces sink Georgian ships '
b"The commander of a Navy air reconnaissance squadron that provides the President and the defense secretary the airborne ability to command the nation's nuclear weapons has been relieved of duty"
b"92% of CNN readers: Russia's actions in Georgia - justified!"
b'USA to send fleet into Black Sea to help Georgia, send troops in "humanitarian aid exercise"'
b"US warns against Israeli plan to strike against Iran's nuclear facilities"
b"In an intriguing cyberalliance, two Estonian computer experts are heading to Georgia to keep the country's networks running amid an intense military confrontation with Russia"
b'The CNN Effect: Georgia Schools Russia in Information Warfare'
b'Why Russias response to Georgia was right'
b'Elephants extinct by 2020?'
b'US humanitarian missions soon in Georgia - if Russia hits the US - WWIII?'
b"Georgia's DDOS came from US sources"
b'Russian convoy heads into Georgia, violating truce'
b'Israeli defence minister: US against strike on Iran'
b'Gorbachev: We Had No Choice'
b'Witness: Russian forces head towards Tbilisi in breach of ceasefire agreement'
b' Quarter of Russians blame U.S. for conflict: poll'
b'Georgian president  says US military will take control of seaports and airports - Pentagon denies'
b'2006: Nobel laureate Aleksander Solzhenitsyn accuses U.S., NATO of encircling Russia'

In [17]:
#join the two dataframe to get a list of potentially important news
df_news.head()
df_significant_date
df_sig_news=df_significant_date.merge(df_news, how='left', on='Date')
df_sig_news.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume,percentage,z-score,Label,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-09-17,11056.58,11057.31,10595.90,10609.66,10609.66,463200000.0,-0.040633,-3.403907,0.0,...,"b"" Thaksin's brother-in-law is elected as Thai...",b'1st anniversary of the beginning of the Saff...,b'Russian stock market falls 17%',b'Car bombs at U.S. embassy in Yemen kill 16',"b""CIA: Bin Laden doesn't oversee day-to-day al...",b'WTF? Six Brazilian politicians legally chang...,b'Tony Blair to appear on The Daily Show with ...,"b'At least 100 rapes in Karachi,Pakistan a day'",b'US footage of attack that killed Pakistani s...,"b""Potential HBOS- Lloyds merger 'bad news for ..."
1,2008-09-29,11139.62,11139.94,10365.45,10365.45,10365.45,385940000.0,-0.069790,-3.438281,0.0,...,b'Post-Ramadan crowd greeted with bombs of the...,b'Militias Assassinate Gay Iraqi Leaders',b' Japan transport minister quits over gaffes',b'Venezuela wants to work with Russia on nucle...,b'Aspiring chef dies hours after making ultra-...,b'American pressure on the Gulf-States to save...,b'Powerful earthquake reported north of New Ze...,b'LTTE has launched a nerve-gas attack against...,b'China running out of IP addresses ',b'EU bans food imports from China'
2,2008-10-02,10825.54,10825.54,10439.52,10482.85,10482.85,395330000.0,-0.032150,-2.553241,0.0,...,b'US approves Indian nuclear trade deal',b'Retailers Need to Realign Wall Street Report...,"b'Even after war, many Georgians revere Stalin...",b'Putin accuses Ukraine of aiding Georgia duri...,"b'US Senate approves Indo-US nuclear deal, end...",b'Murder Capitals of the World',b' Russia to deploy new nuclear missile',b'Capturing the database state: community phot...,"b'Life in Zimbabwe... "" a teachers monthly pay...",b'A Canadian Explains Why The American Electio...
3,2008-10-03,10483.96,10796.26,10310.25,10325.38,10325.38,299690000.0,-0.015022,-2.750429,0.0,...,b'Bangkok Sex Tycoon Runs For Governor',"b""Signs of a pending depression? The Economist...",b'The Jewel of Medina - out on Monday',"b""Phallic charms, buffalo amulets at heart of ...",b'An explosion in the South Ossetian capital o...,"b""Kenya's wild and dangerous west""",b'The Forgotten Wars: less than 1% of people k...,b'Israeli settlers turn on their own soldiers. ',"b""Development Doesn't Require Big Government~P...",b'The Bailing Out Continues in Europe- Belgium...
4,2008-10-06,10322.52,10322.76,9525.32,9955.50,9955.50,391460000.0,-0.035822,-3.313370,0.0,...,b'Chinese lawyers seeking redress for the infa...,"b'AIDS, cancer scientists scoop medicine Nobel '","b""Europe's economic super power, Germany, agre...",b'France urges Israel not to attack Iran',b'Attackers in the Congo shot and hacked to de...,b'17 year old Girl has 7 Kids ',"b""Iceland's Economy on Verge of Collapse""",b'Europe joins the bailout game',b'Iraq: The Surge Is Not Working',b'Strange Creature Found On Russian Coastline ...

things that we want to test
(1) whether it is financial information about US at all
(2) about sovrign national crisis that can affect global sentiment. 
matching with a list of country that matters
(3) how similar content are for each other


First thing we can do is to identify the sentiment

## First, can GPT be good financial market analyst?

In [18]:
# first thing that we do is to see is if there are significant
#!pip install openai
import openai

In [21]:
f = open("secret_key.env.txt", "r")
secret_key=f.read()
openai.api_key=secret_key

In [22]:
#lets first look at a toy example
completion = openai.Completion.create(model="text-davinci-003", prompt="Hello world")
completion

<OpenAIObject text_completion id=cmpl-7cSsYSboKAIAOX0nls5qDw6D6PTuF at 0x12a062ef0> JSON: {
  "id": "cmpl-7cSsYSboKAIAOX0nls5qDw6D6PTuF",
  "object": "text_completion",
  "created": 1689401830,
  "model": "text-davinci-003",
  "choices": [
    {
      "text": "\n\nThis is my first hello world program in python.\n\nprint(\"",
      "index": 0,
      "logprobs": null,
      "finish_reason": "length"
    }
  ],
  "usage": {
    "prompt_tokens": 2,
    "completion_tokens": 16,
    "total_tokens": 18
  }
}

In [86]:
response=completion.choices[0].text
print(response)

Hello there!

Welcome to the wonderful world of greeting others!

In [87]:
#by the way that this is the model
#https://medium.com/@iryna230520/first-steps-in-langchain-the-ultimate-guide-for-beginners-part-1-2baf5a4e1b81

In [26]:
def openai_prompt(prompt):
    completion = openai.Completion.create(model="text-davinci-003", prompt=prompt)
    response=completion.choices[0].text
    return response

In [24]:
start_prompt="based on the below list of headline news, is there anything significant that can \
potentially impact the US stock market"
end_prompt="for the headlines that impact the market, make 3-5 words\
summary on the headline, seperate each factor by ':'. Reply 'NO' if there isnt any significant headline"

In [25]:
def extract_headline(row_data):
    """
    row_data=df_sig_news.iloc[row_index, :]
    """
    master_string=[str(i+1)+" : "+str(row_data[10:][i]) for i in range(0, len(row_data[10:]))]
    master_string="\n".join(master_string)
    return master_string

In [230]:
keyword_list=[]

for i in range(0, min(195, len(df_sig_news))):
    if i%5==0: print(i)
    mid_prompt=extract_headline(row_data=df_sig_news.iloc[i, :])
    entire_prompt=start_prompt+"\n\n"+mid_prompt+"\n\n"+end_prompt
    key_list=openai_prompt(entire_prompt)
    key_list=key_list.strip().split(":")
    key_list=[x.strip() for x in key_list if len(x)>5]
    keyword_list=keyword_list+key_list

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105

In [231]:
len(keyword_list)
pd.DataFrame(keyword_list).to_csv("openai_raw_keyword_extraction.csv")

In [232]:
print(keyword_list)
len(keyword_list)

['that can potentially impact the US Stock Market\n\nAttack on US embassy', 'Yemen', 'Bank & Insurance Bailout', '.\n\nUS strikes', 'kill 20', 'Pakistan,  Bailouts', 'UN Ranking', 'Food Hoarding', 'Currency Crisis', 'Russia-US Conflict', 'NO\nFraud Indictment', 'Security', 'that can affect the US stock market\n\nNO', 'U.K. Uses Anti-Terrorism Law to Seize Icelandic', 'Icelandic Currency', 'Value Plunge', 'NO\nIceland', 'for the stock market\n\nChina democracy', 'NO,\nCFR Member', 'that may impact the stock markets\n\nLegalize Pot', 'Taxes; Worl', 'that may impact the stock market\n\nAsteroid', 'Near-miss', 'that could impact the US stock market \n\nNJ mayors/rabbis', 'Turkish honour killing', 'NO \nDubai Police/Netanyahu', 'North Korea War', 'NO\nOh Australia', 'NO\nHaitian', 'that can affect the market\n\nSouth Africa Cartoon Court Case', 'Israel Nuclear Weapons', 'South Africa Sale', 'Australia-Israel Diplomat', 'that has potential to impact the US stock market\n\nKenyan judges unconstitutional Islamic', 'North Korea-South Korea', 'NO\n2', 'Dropped', 'Facebook fined', 'NO\n2', 'Muslim punched', 'that can potentially impact the US stock market\nWall Street Tumble', 'Debt fears', 'that affects the US Stock Market\n\nNO', 'FTSE 100 pay', '49% rise', 'NO\nCann', 'to affect the stock market.\n\nNO', 'Mexico Drug War', '50,000 Dead', 'NO\nPirate Bay', 'that can affect the US stock market\n\nNO', 'North Korea', 'Missile parts Syria', 'NO \nIsrael', 'Anonymous warnings', 'Obama-Israel', 'Military Aid', 'NO\nHamas-Milat', 'Campaign + Saudi', 'Campaign Saudi Refs', 'NO\nSnowden+', 'Ebola Outbreak', 'Rapid increase,NO Plan', 'Wind Power', 'Rising Costs', 'NO\nRhino Horn', 'Decreasing', 'Bill Gates to invest $2bn', 'Money Injection\nLego', '.\n\nChinese Stock Ban', 'NO\nTTIP Court Rule', 'North Korea War Prep', 'Kim orders military', 'Greek PM Resigns', 'Twitter kills Politwoops', 'NO\nSurfers police brutality', 'for the stock market\n\nShanghai stock market', 'opens down 6.', 'US Dollar Drop', "NO\nSecret 'Dark Net' Operation", 'that could affect the US stock market\n\nChina stock', 'market crash', 'Reports of sexual assaults on women', 'Deutsche minister deports', 'Iran bans pilgr', 'El Chapo', 'Nuclear Test', 'North', 'Iran-nuclear-deal', 'RBS-sell-all', 'Western', 'Oil falls', 'Saudis arrest', 'Putin superpower', 'Canadian dollar drop', 'Iran sailors', 'Oil price', 'Crude oil at $29', 'NO\nUS financial', 'ISIS destroys Iraq', 'NO \n2', 'Oceans running', 'Oil Price Fall', 'BP Warns Low Prices\nAfghan Univ.', 'to impact the US stock market\n\nBarclays,RBS', 'that can potentially impact US stock market\n\nNO', 'No, there is nothing significant that can potentially impact the US stock market', '.\n\nNo.', 'in the list\n\nNo.', 'from the list\n\nNo.', '.\n\nNO.', 'related to the market.\n\nNo', 'that can impact the market\n\nNo.', 'that can impact the US stock market\n\nNo.', '.\n\nNo.', 'No, there is no significant headline.', 'that affect the market\n\nNo.', 'news\n\nNo.', 'that can impact the US stock market\n\nNo.', 'impacting the market\n\nNo;']

120

In [243]:
cleaned_keyword_list=[x for x in keyword_list if "no" not in x.lower()]
print (cleaned_keyword_list)
len(cleaned_keyword_list)

['that can potentially impact the US Stock Market\n\nAttack on US embassy', 'Yemen', 'Bank & Insurance Bailout', '.\n\nUS strikes', 'kill 20', 'Pakistan,  Bailouts', 'UN Ranking', 'Food Hoarding', 'Currency Crisis', 'Russia-US Conflict', 'Security', 'U.K. Uses Anti-Terrorism Law to Seize Icelandic', 'Icelandic Currency', 'Value Plunge', 'for the stock market\n\nChina democracy', 'that may impact the stock markets\n\nLegalize Pot', 'Taxes; Worl', 'that may impact the stock market\n\nAsteroid', 'Near-miss', 'that could impact the US stock market \n\nNJ mayors/rabbis', 'that can affect the market\n\nSouth Africa Cartoon Court Case', 'Israel Nuclear Weapons', 'South Africa Sale', 'Australia-Israel Diplomat', 'that has potential to impact the US stock market\n\nKenyan judges unconstitutional Islamic', 'Dropped', 'Facebook fined', 'Muslim punched', 'that can potentially impact the US stock market\nWall Street Tumble', 'Debt fears', 'FTSE 100 pay', '49% rise', 'Mexico Drug War', '50,000 Dead', 'Missile parts Syria', 'Obama-Israel', 'Military Aid', 'Campaign + Saudi', 'Campaign Saudi Refs', 'Ebola Outbreak', 'Wind Power', 'Rising Costs', 'Decreasing', 'Bill Gates to invest $2bn', 'Money Injection\nLego', '.\n\nChinese Stock Ban', 'Kim orders military', 'Greek PM Resigns', 'Twitter kills Politwoops', 'for the stock market\n\nShanghai stock market', 'opens down 6.', 'US Dollar Drop', 'that could affect the US stock market\n\nChina stock', 'market crash', 'Reports of sexual assaults on women', 'Deutsche minister deports', 'Iran bans pilgr', 'El Chapo', 'Nuclear Test', 'Iran-nuclear-deal', 'RBS-sell-all', 'Western', 'Oil falls', 'Saudis arrest', 'Putin superpower', 'Canadian dollar drop', 'Iran sailors', 'Oil price', 'Crude oil at $29', 'ISIS destroys Iraq', 'Oceans running', 'Oil Price Fall', 'BP Warns Low Prices\nAfghan Univ.', 'to impact the US stock market\n\nBarclays,RBS']

74

In [245]:
# lets clean the list of keywords up by removing repetitive ones
cleaned_keyword_list=([x.split("\n")[-1] for x in cleaned_keyword_list])
print(cleaned_keyword_list)
len(cleaned_keyword_list)
pd.DataFrame(cleaned_keyword_list).to_csv("cleaned_factor_affects_stock.csv")

['Attack on US embassy', 'Yemen', 'Bank & Insurance Bailout', 'US strikes', 'kill 20', 'Pakistan,  Bailouts', 'UN Ranking', 'Food Hoarding', 'Currency Crisis', 'Russia-US Conflict', 'Security', 'U.K. Uses Anti-Terrorism Law to Seize Icelandic', 'Icelandic Currency', 'Value Plunge', 'China democracy', 'Legalize Pot', 'Taxes; Worl', 'Asteroid', 'Near-miss', 'NJ mayors/rabbis', 'South Africa Cartoon Court Case', 'Israel Nuclear Weapons', 'South Africa Sale', 'Australia-Israel Diplomat', 'Kenyan judges unconstitutional Islamic', 'Dropped', 'Facebook fined', 'Muslim punched', 'Wall Street Tumble', 'Debt fears', 'FTSE 100 pay', '49% rise', 'Mexico Drug War', '50,000 Dead', 'Missile parts Syria', 'Obama-Israel', 'Military Aid', 'Campaign + Saudi', 'Campaign Saudi Refs', 'Ebola Outbreak', 'Wind Power', 'Rising Costs', 'Decreasing', 'Bill Gates to invest $2bn', 'Lego', 'Chinese Stock Ban', 'Kim orders military', 'Greek PM Resigns', 'Twitter kills Politwoops', 'Shanghai stock market', 'opens down 6.', 'US Dollar Drop', 'China stock', 'market crash', 'Reports of sexual assaults on women', 'Deutsche minister deports', 'Iran bans pilgr', 'El Chapo', 'Nuclear Test', 'Iran-nuclear-deal', 'RBS-sell-all', 'Western', 'Oil falls', 'Saudis arrest', 'Putin superpower', 'Canadian dollar drop', 'Iran sailors', 'Oil price', 'Crude oil at $29', 'ISIS destroys Iraq', 'Oceans running', 'Oil Price Fall', 'Afghan Univ.', 'Barclays,RBS']

In [274]:
master_single_words=[]
for i in range(0, len(cleaned_keyword_list)):
    list_of_words=cleaned_keyword_list[i].split(" ")
    if len(list_of_words)==1:
        list_of_words=cleaned_keyword_list[i].split("-")
    list_of_words=[x.lower() for x in list_of_words if x.isalpha() and len(x)>3]
    master_single_words=master_single_words+list_of_words

master_single_words=list(set(master_single_words))
print(len(master_single_words))
master_single_words
pd.DataFrame(master_single_words).to_csv("master_letter.csv")

master_single_words

122

['chapo',
 'attack',
 'democracy',
 'security',
 'outbreak',
 'military',
 'shanghai',
 'iran',
 'deal',
 'facebook',
 'deports',
 'isis',
 'campaign',
 'reports',
 'stock',
 'crash',
 'resigns',
 'currency',
 'muslim',
 'iraq',
 'missile',
 'strikes',
 'costs',
 'sale',
 'street',
 'dropped',
 'saudi',
 'judges',
 'rise',
 'south',
 'diplomat',
 'falls',
 'twitter',
 'greek',
 'minister',
 'price',
 'gates',
 'china',
 'down',
 'miss',
 'plunge',
 'ranking',
 'mexico',
 'fined',
 'canadian',
 'unconstitutional',
 'cartoon',
 'uses',
 'worl',
 'wind',
 'power',
 'obama',
 'syria',
 'arrest',
 'bailouts',
 'near',
 'sell',
 'punched',
 'saudis',
 'women',
 'decreasing',
 'chinese',
 'dollar',
 'assaults',
 'parts',
 'western',
 'crude',
 'africa',
 'hoarding',
 'crisis',
 'tumble',
 'wall',
 'deutsche',
 'yemen',
 'food',
 'rising',
 'putin',
 'icelandic',
 'politwoops',
 'insurance',
 'fears',
 'value',
 'pilgr',
 'drop',
 'orders',
 'sexual',
 'destroys',
 'islamic',
 'asteroid',
 'bailout',
 'dead',
 'kenyan',
 'lego',
 'weapons',
 'conflict',
 'market',
 'drug',
 'invest',
 'court',
 'seize',
 'refs',
 'debt',
 'fall',
 'kill',
 'legalize',
 'bill',
 'bank',
 'embassy',
 'israel',
 'ebola',
 'test',
 'running',
 'nuclear',
 'opens',
 'afghan',
 'kills',
 'ftse',
 'case',
 'bans',
 'sailors',
 'oceans',
 'superpower']

In [ ]:
#for future embedding works
important_issues=['oil', 'bank','military', 'russia', 'middle-east war', 'war', 'china economy', 'market price', 'nuclear war']