In [1]:
import pandas as pd

In [2]:
df_news=pd.read_csv("Combined_News_DJIA.csv")
df_news['Date']=pd.to_datetime(df_news['Date'])

In [12]:
df_price=pd.read_csv("new_djprice.csv")
df_price.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume,percentage,z-score
0,2008-07-07,11289.19,11399.11,11120.74,11231.96,11231.96,248240000.0,NaN,NaN
1,2008-07-08,11225.03,11391.13,11174.88,11384.21,11384.21,271500000.0,0.013555,NaN
2,2008-07-09,11381.93,11418.24,11141.99,11147.44,11147.44,227100000.0,-0.020798,NaN
3,2008-07-10,11148.01,11270.30,11086.95,11229.02,11229.02,248010000.0,0.007318,NaN
4,2008-07-11,11226.17,11241.07,10977.68,11100.54,11100.54,275010000.0,-0.011442,NaN

In [13]:
df_price['Date']=pd.to_datetime(df_price['Date'])
df_price

,Date,Open,High,Low,Close*,Adj Close**,Volume,percentage,z-score
0,2008-07-07,11289.19,11399.11,11120.74,11231.96,11231.96,248240000.0,NaN,NaN
1,2008-07-08,11225.03,11391.13,11174.88,11384.21,11384.21,271500000.0,0.013555,NaN
2,2008-07-09,11381.93,11418.24,11141.99,11147.44,11147.44,227100000.0,-0.020798,NaN
3,2008-07-10,11148.01,11270.30,11086.95,11229.02,11229.02,248010000.0,0.007318,NaN
4,2008-07-11,11226.17,11241.07,10977.68,11100.54,11100.54,275010000.0,-0.011442,NaN
...,...,...,...,...,...,...,...,...,...
3770,2023-06-28,33881.38,33903.76,33755.92,33852.66,33852.66,268050000.0,-0.002184,0.583472
3771,2023-06-29,33854.57,34147.68,33828.63,34122.42,34122.42,279940000.0,0.007969,1.244567
3772,2023-06-30,34269.92,34467.35,34269.92,34407.60,34407.60,351060000.0,0.008358,1.887133
3773,2023-07-03,34369.78,34465.60,34286.54,34418.47,34418.47,157590000.0,0.000316,1.840525
3774,2023-07-05,34344.72,34376.11,34226.98,34288.64,34288.64,274570000.0,-0.003772,1.485440

In [14]:
df_master=df_price.merge(df_news, how='left', on='Date')

In [20]:
df_master
df_re_master=df_master.dropna()
df_re_master
len(df_re_master)/252

7.773809523809524

In [21]:
# lets add any significant and then lets check the sentiment

,Date,Open,High,Low,Close*,Adj Close**,Volume,percentage,z-score,Label,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
51,2008-09-17,11056.58,11057.31,10595.90,10609.66,10609.66,463200000.0,-0.040633,-3.403907,0.0,...,"b"" Thaksin's brother-in-law is elected as Thai...",b'1st anniversary of the beginning of the Saff...,b'Russian stock market falls 17%',b'Car bombs at U.S. embassy in Yemen kill 16',"b""CIA: Bin Laden doesn't oversee day-to-day al...",b'WTF? Six Brazilian politicians legally chang...,b'Tony Blair to appear on The Daily Show with ...,"b'At least 100 rapes in Karachi,Pakistan a day'",b'US footage of attack that killed Pakistani s...,"b""Potential HBOS- Lloyds merger 'bad news for ..."
52,2008-09-18,10609.01,11076.44,10459.44,11019.69,11019.69,488060000.0,0.038647,-1.564634,1.0,...,"b'Iraqis kills 3 contractors, city Fallujah is...",b'CIA Chief Speaks of Trying to Provoke Terror...,"b'German Authorities Wiretap Skype, Raid Homes...","b'In Yemen, a Planned Massacre of Americans Is...",b'Livni sweeps Kadima race; Olmert pledges coo...,b'Rising prices tip another 75 million towards...,"b""Sri Lanka's navy says it has fought a sea ba...",b'official poverty rates of 51.8% in Gaza and ...,b'India deploys planes with Nuclear Capability...,b'Tariq Ali: Has the U.S. Invasion of Pakistan...
53,2008-09-19,11027.51,11483.05,11026.70,11388.44,11388.44,655110000.0,0.033463,0.011810,1.0,...,b'America continues to lose world influence as...,b'Rice says U.S. will resist Russian moves aga...,b'14 men rob a coca cola factory - shoot out w...,"b'South Ossetia information warfare, two sides...",b'North Korea preparing to restart nuclear rea...,b' Venezuela expels U.S. rights group for crit...,b'Chavez expells Human Rights Watch from Venez...,b'Euthanasia advocate takes her own life.',"b""The complete list of the world's billionaires""","b""Swaziland's HIV/AIDS treatment crisis goes c..."
54,2008-09-22,11394.42,11394.58,10992.20,11015.69,11015.69,213210000.0,-0.032731,-1.549244,0.0,...,"b""All We are Saying is GIve Peace a Chance - U...",b'Dig pinpoints Stonehenge origins',"b'Almost 13,000 Chinese children sickened by t...","b""Pakistan's rulers were supposed to be in Hot...","b'Turkey scared to admit Armenian genocide, sa...","b""Change in dinner plans saved Pakistan's rule...",b'Pakistani troops fire on intruding U.S. chop...,b'Heads are starting to role in China as the t...,b'Russian ambassador: Czechs selling security ...,"b""Merchant of Death appears in Thai court, no ..."
55,2008-09-23,11015.69,11143.21,10833.94,10854.17,10854.17,204480000.0,-0.014663,-2.108707,0.0,...,b'Sarkozy calls for those behind the market cr...,"b""Russia engages in 'gangland' diplomacy as it...","b""EU patent office on strike: 'the organisatio...",b'Mystery surrounds hijacked Iranian ship',b' U.S.-led wars behind Wall Street crisis: Ah...,b'Pakistan blames US raids for hotel bombing',b'Double Darwin Award? A couple having sex on ...,b'Tourists Taken Hostage in Egypt - Relocated ...,"b'Bush, Ahmadinejad To Speak At UN '",b'Workers Allegedly Beat CEO To Death In India'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,2016-06-27,17355.21,17355.21,17063.08,17140.24,17140.24,138740000.0,-0.014971,-3.342046,0.0,...,German lawyers to probe Erdogan over alleged w...,"Boris Johnson says the UK will continue to ""in...",Richard Branson is calling on the UK governmen...,Turkey 'sorry for downing Russian jet',Edward Snowden lawyer vows new push for pardon...,Brexit opinion poll reveals majority don't wan...,"Conservative MP Leave Campaigner: ""The leave c...","Economists predict UK recession, further weake...","New EU 'superstate plan by France, Germany: Cr...",Pakistani clerics declare transgender marriage...
2009,2016-06-28,17190.51,17409.72,17190.51,17409.72,17409.72,112190000.0,0.015722,-1.833787,1.0,...,"US, Canada and Mexico pledge 50% of power from...",There is increasing evidence that Australia is...,"Richard Branson, the founder of Virgin Group, ...","37,000-yr-old skull from Borneo reveals surpri...",Palestinians stone Western Wall worshipers; po...,Jean-Claude Juncker asks Farage: Why are you h...,"""Romanians for Remainians"" offering a new home...",Brexit: Gibraltar in talks with Scotland to st...,8 Suicide Bombers Strike Lebanon,Mexico's security forces routinely use 'sexual...
2010,2016-06-29,17456.02,17704.51,17456.02,17694.68,17694.68,106380000.0,0.016368,-0.374812,1.0,...,"Escape Tunnel, Dug by Hand, Is Found at Holoca...",The land under Beijing is sinking by as much a...,Car bomb and Anti-Islamic attack on Mosque in ...,Emaciated lions in Taiz Zoo are trapped in blo...,Rupert Murdoch describes Brexit as 'wonderful'...,More than 40 killed in Yemen suicide attacks,Google Found Disastrous Symantec and Norton Vu...,Extremist violence on the rise in Germany: Dom...,BBC News: Labour MPs pass Corbyn no-confidence...,Tiny New Zealand town with 'too many jobs' lau...
2011,2016-06-30,17712.76,17930.61,17711.80,17929.99,17929.99,133030000.0,0.013298,0.831005,1.0,...,Googles free wifi at Indian railway stations i...,Mounting evidence suggests 'hobbits' were wipe...,The men who carried out Tuesday's terror attac...,Calls to suspend Saudi Arabia from UN Human Ri...,More Than 100 Nobel Laureates Call Out Greenpe...,British pedophile sentenced to 85 years in US ...,"US permitted 1,200 offshore fracks in Gulf of ...",We will be swimming in ridicule - French beach...,UEFA says no minutes of silence for Istanbul v...,Law Enforcement Sources: Gun Used in Paris Ter...
2012,2016-07-01,17924.24,18002.38,17916.91,17949.37,17949.37,82160000.0,0.001081,0.952191,1.0,...,"The United States has placed Myanmar, Uzbekist...",S&amp;P revises European Union credit rating t...,India gets $1 billion loan from World Bank for...,U.S. sailors detained by Iran spoke too much u...,Mass fish kill in Vietnam solved as Taiwan ste...,Philippines president Rodrigo Duterte urges pe...,Spain arrests three Pakistanis accused of prom...,"Venezuela, where anger over food shortages is ...",A Hindu temple worker has been killed by three...,Ozone layer hole seems to be healing - US &amp...

In [22]:
import openai

In [23]:
f = open("secret_key.env.txt", "r")
secret_key=f.read()
openai.api_key=secret_key

In [24]:
def openai_prompt(prompt):
    completion = openai.Completion.create(model="text-davinci-003", prompt=prompt)
    response=completion.choices[0].text
    return response

In [25]:
def extract_headline(row_data):
    """
    row_data=df_sig_news.iloc[row_index, :]
    """
    master_string=[str(i+1)+" : "+str(row_data[10:][i]) for i in range(0, len(row_data[10:]))]
    master_string="\n".join(master_string)
    return master_string

In [ ]:
start_prompt="based on the below list of headline news, is there anything events related to Russia, geopolitical risk or significant oil price movement"
end_prompt="for the headlines that impact the market, make 3-5 words\
summary on the headline, seperate each factor by ':'. Reply 'NO' if there isnt any significant headline"

In [ ]:
for i in range(0,df_re_master )