In [1]:
import pandas as pd

In [4]:
df_djia=pd.read_csv("DJIA.csv")

In [6]:
df_djia.head()

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jul 05, 2023","34,344.72","34,376.11","34,226.98","34,288.64","34,288.64","274,570,000"
1,"Jul 03, 2023","34,369.78","34,465.60","34,286.54","34,418.47","34,418.47","157,590,000"
2,"Jun 30, 2023","34,269.92","34,467.35","34,269.92","34,407.60","34,407.60","351,060,000"
3,"Jun 29, 2023","33,854.57","34,147.68","33,828.63","34,122.42","34,122.42","279,940,000"
4,"Jun 28, 2023","33,881.38","33,903.76","33,755.92","33,852.66","33,852.66","268,050,000"

In [8]:
df_djia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3775 entries, 0 to 3774
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         3775 non-null   object
 1   Open         3775 non-null   object
 2   High         3775 non-null   object
 3   Low          3775 non-null   object
 4   Close*       3775 non-null   object
 5   Adj Close**  3775 non-null   object
 6   Volume       3775 non-null   object
dtypes: object(7)
memory usage: 206.6+ KB

In [18]:
#convert from object to umber
df_djia['Adj Close**']=df_djia['Adj Close**'].replace(",", "")
df_djia['Adj Close**']
#df_djia['Adj Close**']=df_djia['Adj Close**'].apply(float)

0       34,288.64
1       34,418.47
2       34,407.60
3       34,122.42
4       33,852.66
          ...
3770    11,100.54
3771    11,229.02
3772    11,147.44
3773    11,384.21
3774    11,231.96
Name: Adj Close**, Length: 3775, dtype: object

**RSI**

In [7]:
#calculate the difference of price

change=df_djia['Adj Close**'].diff()
change.dropna(inplace=True)
change

TypeError: unsupported operand type(s) for -: 'str' and 'str'